body{
    background-color: #413c69;
    color: #e8f9e9;
    text-align: center;
}
h1{    
    font-size: 5rem;
    
}
.container-fluid{
    padding:10% 30% 2% 30%;
}
#dices{
padding: 5% 20%;
line-height: 2rem;
}
#footer{
    padding: 10% 20%;
}
img{
    width: 25%;
}
.gameStarts{
    visibility: false;
}